<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Calculadora</title>
    <style>
        body { margin: 40px;}
        .calc_content { display: flex; margin-bottom: 30px;}
        .column { display: flex; flex-direction: column; margin-left: 20px;}
        button { 
            padding: 10px 15px;
            margin-bottom: 5px;
            background-color: white; 
            border: 1px solid black;
            border-radius: 10px;
            cursor: pointer;}
        #dot {
            padding: 10px 16.5px;
        }
    </style>
</head>
<body>
    <h1>Calculadora</h1>

    <div class="calc_content">
        <div>
            <div class="row">
                <button type="button" value="7" onclick="showNumbers(value)">7</button>
                <button type="button" value="8" onclick="showNumbers(value)">8</button>
                <button type="button" value="9" onclick="showNumbers(value)">9</button>
            </div>
            <div class="row">
                <button type="button" value="4" onclick="showNumbers(value)">4</button>
                <button type="button" value="5" onclick="showNumbers(value)">5</button>
                <button type="button" value="6" onclick="showNumbers(value)">6</button>
            </div>
            <div class="row">
                <button type="button" value="1" onclick="showNumbers(value)">1</button>
                <button type="button" value="2" onclick="showNumbers(value)">2</button>
                <button type="button" value="3" onclick="showNumbers(value)">3</button>
            </div>
            <div class="row">
                <button type="button" id="dot" value="dot" onclick="showNumbers(value)">.</button>
                <button type="button" value="0" onclick="showNumbers(value)">0</button>
                <button type="button" id="equal" value="equal" onclick="showNumbers(value)">=</button>
            </div>
        </div>

        <div class="column">
            <button type="button" class="operand" value="suma" onclick="showNumbers(value, '+')">+</button>
            <button type="button" class="operand" value="resta" onclick="showNumbers(value, '-')">-</button>
            <button type="button" class="operand" value="multiplicacio" onclick="showNumbers(value, '*')">*</button>
            <button type="button" class="operand" value="divisio" onclick="showNumbers(value, '/')">/</button>
        </div>

        <div class="column">
            <button type="button" id="reset" value="reset" onclick="reset()">C</button>
            <span id="resetText"></span>
        </div>
    </div>



    <div>
        <input type="text" id="numbers"/>
    </div>
    <br>
    <div id="resultat"/>

    <script>
        var op1 = '';
        var op2 = '';
        var operacio;
        var ctrl = false; //Controla si ens trobem emplenant el primer (false) o el segon operador (true)
        url='';

        function showResult(resultat) {
            $("#resultat").append(resultat);
        }

        function showNumbers(value, sign){

            //Operació, punt decimal o igual 
            if (value.length > 1){

                //Igual 
                if (value === "equal") {
                    if (op1 && op2) {

                        //Reset input & disable buttons
                        $("#numbers").val('');
                        $("button").attr('disabled', 'disabled');
                        $("#reset").removeAttr('disabled');

                        //Show stuff
                        $("#resultat").append(`${op2} = `);

                        //Call API                      	
                        url = `http://localhost:8080/calc/${operacio}/${op1}/${op2}`;
                        fetch(url)
                          .then(response => response.json())
                          .then(data => showResult(data["resultat"]))
                          .catch(err => console.log("Something went wrong!", err));

                        //Force reset
                        $("#resetText").html("Press here to go again!");
                    }
                }

                //Punt decimal
                else if (value === "dot") {
                    var input = $("#numbers");

                    //Si no hi ha res a l'input
                    if (!input.val()) {
                        input.val("0");
                    }

                    //Afegim punt decimal
                    input.val(input.val() + '.');
                    if (ctrl) {
                        op2 = input.val();
                    }
                    else {
                        op1 = input.val();
                    }
                    $("#dot").attr('disabled', 'disabled');
                }

                //Operació 
                else {
                    if (op1) {

                        //Reset input
                        $("#numbers").val('');

                        //Show stuff & disable operand buttons
                        operacio = value;
                        $("button.operand").attr('disabled', 'disabled');
                        $("#dot").removeAttr('disabled');
                        $("#resultat").html(`${op1} ${sign} `);
                        ctrl = true;    //Passem al segon operador
                    }
                }

            //Número -> Mostrem al input i actualitzem variable pertinent
            } else { 
                if (ctrl) {
                    op2 += value; 
                    $("#numbers").val(op2);
                } else {
                    op1 += value;
                    $("#numbers").val(op1);
                }
            }
        }

        function reset() {
            op1 = '';
            op2 = '';
            operacio = '';
            ctrl = false;
            $("#resetText, #resultat").html('');
            $("button").removeAttr('disabled');
            $("#numbers").val('');
        }
    </script>
</body>
</html>
