<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <style>
        body { margin: 40px;}
    </style>
</head>
<body>
    <h1> Pràctica M8: Calculadora</h1>

    <div>
        <form action="">
            <label>Usuari:</label><br>
            <input type="text" id="user" name="user"><br>
            <label>Contrasenya:</label><br>
            <input type="text" id="pwd" name="pwd"><br><br>
            <input type="submit" value="Validar">
        </form>
    </div>
</body>
</html>